.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0 40px;
    height: 100vh;
    width: 300px;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    background: #E3E1D9;
    overflow: hidden;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background: #F2EFE5;
    height: 80px;
    margin: 10px;
    padding: 0 10px;
}

.content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 160px); 
    background: #F2EFE5;
    border-radius: 18px;
    overflow: hidden; 
}

.task {
    margin: 10px;
}

.taskOptions {
    list-style: none;
    padding: 0;
}

.taskOptions li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.taskOptions li div {
    display: flex;
    align-items: center;
}

.smallFont {
    font-size: 18px;
    font-weight: bolder;
}

.taskOptions li img {
    margin-right: 10px;
}

.taskOptions li .Text {
    margin-right: 10px;
}

.countOption, .option {
    background-color: #F1EEDC;
    width: 100%;
    font-weight: 500;
    padding: 0 20px;
    border-radius: 14px;
}

.countOption:hover, .option:hover {
    background-color: lightgray;
    cursor: pointer;
}

.taskOptions li .countOption {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.taskOptions li .left {
    display: flex;
    align-items: center;
}

.lists, .tags {
    background-color: #E3E1D9;
    margin: 7px 10px;
    padding: 0 12px;
    border-radius: 18px;
}

.lists:hover, .tags:hover {
    background-color: #C7C8CC;
}

.itemContainer {
    display: flex;
}